<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Show Weights With Friends</title>
</head>
<body class="bg-info">
    <div class="d-flex justify-content-center m-3">
        <nav class="navbar navbar-dark bg-dark rounded">
        <a class="navbar-brand text-info border-info"><h1> Weights With Friends </h1></a>
    </div>
    <div class="container d-flex card text-center col-4">
        <h2>{{weights.name}}</h2>
        <h5>Who Made This Entry: {{ weights.creator }}</h5>
        <div class="card-body">
          <p>Price: {{weights.exercise}}</p>  
          <p> Model: {{weights.weight_lifted}}</p>
          <p> Make: {{weights.current_bodyweight}}</p>
          <a href="/success" value="Go back" class="btn btn-dark text-danger">Go Back</a>
        </div>
    </div>
</body>
</html>